.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-top: 2rem;
  background-position: 97%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../public/img/Pattern.svg);
}

.wrap {
  position: relative;
  height: max-content;
  width: 100%;
}
.divider {
  top: 3rem;
  left: 2rem;
  position: absolute;
  height: 86%;
  width: 5px;
  background-color: var(--color);
}
.container .header {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 5vw;
  height: 5vw;
}
.headText {
  text-align: start;
}
.feature_icon {
  height: 45px;
}
.small_con {
  padding: 1rem;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  display: grid;
}
.more {
  font-weight: bold;
}
.text {
  color: var(--text_color);
}
.box {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  background-color: var(--main_color);
  border-radius: 2rem;
  gap: 1rem;
  padding: 1rem;
  height: max-content;
}

.switch {
  margin-bottom: 1rem;
  width: max-content;
  font-weight: bold;
  color: #000;
  display: flex;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: var(--main_color);
}
.switcher_off {
  border-radius: 2rem;
  width: 15vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.switcher_on {
  border-radius: 2rem;
  background-color: var(--color);
  width: 15vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media screen and (max-width: 865px) {
  .small_con {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 565px) {
  .small_con {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .divider {
    display: none;
  }
}
