.container {
  border-top: 1px solid var(--main_color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.con {
  margin-bottom: 1rem;
}
.smallCon {
  width: 80%;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.down {
  cursor: pointer;
  font-weight: bold;
}
.rotate {
  cursor: pointer;
  font-weight: bold;
  transform: rotate(180deg);
}
.notActiveCon {
  padding: 0.5em;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  border-radius: 2rem;
  color: #fff !important;
  background-color: var(--button_color);
}
.activeCon {
  padding: 0.5em;
  background-color: var(--main_color);
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  border-radius: 2rem;
}
.notActive {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  height: max-content;
}

.content {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 80%;
}
.buttons {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  gap: 1rem;
}
.demo {
  border-radius: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--button_color);
  width: max-content;
}
.more {
  border: 1px solid var(--color);
  border-radius: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (max-width: 500px) {
  .header {
    width: 78%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .headText {
    text-align: left;
  }
}
