.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3.5rem !important;
  border-top: 1px solid var(--main_color);
  padding: 2rem;
}
.container .header {
  padding-bottom: 1rem;
  align-items: center;
  width: 95%;
  display: flex;
  flex-direction: column;
}
.feature_icon {
  height: 45px;
}
.small_con {
  padding: 1rem;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  display: grid;
}
.more {
  font-weight: bold;
}
.text {
  color: var(--text_color);
}
.box {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  background-color: var(--main_color);
  border-radius: 2rem;
  gap: 1rem;
  padding: 1rem;
  height: max-content;
}

.switch {
  margin-bottom: 1rem;
  width: max-content;
  font-weight: bold;
  color: #000;
  display: flex;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: var(--main_color);
}
.switcher_off {
  border-radius: 2rem;
  width: 15vw;
  padding: 1rem;
}
.switcher_on {
  border-radius: 2rem;
  background-color: var(--color);
  width: 15vw;
  padding: 1rem;
}
@media screen and (max-width: 865px) {
  .small_con {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 565px) {
  .small_con {
    grid-template-columns: repeat(1, 1fr);
  }
}
