.container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  padding-top: 3.3rem;
}
.container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  color: var(--inner_color);
}
.small_con {
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.small_con .left {
  gap: 16px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.small_con .left .name_of_feature {
  text-align: center;
  width: max-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
  color: var(--text_color);
  background-color: var(--main_color);
}

.small_con .left .description_of_feature {
  color: var(--text_color);
}
.small_con .left .row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.small_con .left ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.small_con .right {
  width: 30%;
}
.feature_img {
  width: 1000px;
}

.start {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: max-content;
  gap: 16px;
  padding: 1rem;
  border-radius: 2rem;
  color: var(--text_color);
  background-color: var(--button_color);
}

@media screen and (max-width: 865px) {
  .small_con .left {
    width: 80%;
  }
  .small_con {
    flex-direction: column;
  }
}
@media screen and (max-width: 710px) {
  .container {
    align-items: center;
    padding-left: 1rem;
  }

  .small_con .left {
    width: 100%;
  }
  .small_con .right {
    height: 60vh;
  }
}
