.container {
  width: 100%;
  height: max-content;
  padding: 2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing_desktop {
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
  display: block;
}
.pricing_phone {
  width: 100%;
  display: none;
}
@media screen and (max-width: 900px) {
  .pricing_desktop {
    display: block;
  }
  .pricing_phone {
    display: block;
  }
}
