.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.pricing_detail {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pricing_detail .row {
  width: calc(30%-20px);
}
