.container {
  height: max-content;
  width: 100%;
}
.price_navigator {
  font-weight: bold;
}
.pricing_detail {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.small_con {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  height: max-content;
  gap: 1rem;
}
.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.con {
  display: flex;
  width: max-content;
  gap: 1rem;
  flex-direction: row;
}
.fixed_nav {
  border-bottom: 1px solid var(--main_color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  top: 80px;
  background-color: var(--background_color);
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.button {
  text-align: center;

  display: flex;
  align-items: center;
  width: max-content;
  gap: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 1rem;
  border-radius: 2rem;
  color: var(--text_color);
  background-color: var(--button_color);
}
.price_active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid var(--special_text);
}

.col:nth-child(1) {
  align-items: flex-start;
}

.pricing_detail .row {
  width: 30%;
}
.small_switch {
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price {
  font-weight: bolder;
}
.switch {
  margin-bottom: 1rem;
  width: max-content;
  font-weight: bold;
  color: #000;
  display: flex;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: var(--main_color);
}
.switcher_off {
  border-radius: 2rem;
  padding: 1rem;
}
.switcher_on {
  color: var(--text_color);
  border-radius: 2rem;
  background-color: var(--button_color);
  padding: 1rem;
}
.none {
  display: none;
}
@media screen and (max-width: 900px) {
  .hiden {
    display: none;
  }
  .footer_button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .sticky {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 50px;
    border-top: 1px solid var(--main_color);
    background-color: var(--inner_color);
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
  }
  .col {
    font-size: small;
  }
  .col1 {
    padding-left: 1rem;
    font-size: small;
    width: 200px;
  }
  .switch {
    font-size: 11px;
  }
  .switcher_off {
    padding: 0.2rem;
    width: 90px;
  }
  .switcher_on {
    padding: 0.2rem;
    width: 90px;
  }
  .sticky_button {
    background-color: var(--main_color);
    width: 50px;
    border: 1px solid var(--button_color);
    border-radius: 5px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  .button {
    font-size: 13px;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 130%;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 140%;
  }
  .col1 {
    height: 40px;
  }
  .switch {
    font-size: 10px;
  }
  .switcher_off {
    padding: 0.2rem;
    width: 60px;
  }
  .switcher_on {
    padding: 0.2rem;
    width: 60px;
  }

  .button {
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
