.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 3.7rem;
  border-top: 1px solid var(--main_color);
  border-bottom: none;
  position: relative;
}
.img {
  width: 50%;
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
}
.main {
  align-items: flex-start;
  height: 100%;
  padding: 1rem;
  display: flex;
  gap: 32px;
}
.form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
  gap: 32px;
}
.row {
  gap: 16px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.input {
  font-size: 1.3vw;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--main_color);
}
.button {
  display: flex;
  text-align: center;
  align-items: center;
  width: max-content;
  gap: 16px;
  font-size: 1.5vw;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 2rem;
  color: var(--text_color);
  background-color: var(--button_color);
}
@media screen and (max-width: 865px) {
  .button {
    font-size: 2vw;
  }

  .input {
    font-size: 2vw;
  }
  .img {
    width: 100%;
  }
  .main {
    gap: 2vw;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .form {
    width: 80%;
  }
}
@media screen and(max-width:500px) {
  .input {
    font-size: 4vw;
  }
}
