.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--main_color);
  padding: 2rem;
  height: max-content;
  width: calc(10%-5px);
}
.star {
  width: calc(10%-10px);
  flex-direction: row;
  display: flex;
}
.title {
  font-weight: bold;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.img {
  width: 50%;
}
.main {
  margin-top: 1rem;
  padding-top: 2rem;
  border-top: 1px solid var(--main_color);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
