.carousel__wrapper {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  width: calc(var(--slides-in-view-com) * var(--slide-width_com));
  overflow: hidden;
  margin: 0 auto;
}
.header {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  border-top: 1px solid var(--main_color);
  padding: 100px 0;
  overflow: hidden;
  width: calc(2 * var(--no-of-slides));
}

.carousel__slide {
  animation: scroll var(--iteration-time) linear infinite;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: var(--slide-width_com);
  height: var(--slide-height_com);
  box-sizing: border-box;
  /*border: 1px dotted darkblue;*/
}

.carousel__image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
  margin: 15px 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--slide-width) * var(--no-of-slides) * -1));
  }
}
