.container {
  border-top: 1px solid var(--main_color);
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  padding-top: 3.3rem;
  position: relative;
}
.container .header {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.divider {
  top: 3rem;
  right: 2rem;
  position: absolute;
  height: 86%;
  width: 5px;
  background-color: var(--color);
}
.headText {
  font-size: 2.5vw;
  text-align: right;
}

.small_con {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.small_con .left {
  gap: 16px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.container .small_con .left .row {
  padding: 2rem;
  align-items: center;
  height: max-content;
  width: 100%;
  background-color: var(--main_color);
  display: flex;
  gap: 16px;
}
.row {
  display: flex;
  align-items: center;
  border-radius: 2rem;
}

.small_con .left ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.right {
  position: relative;
  width: 20%;
}
.qrText {
  color: var(--inner_color);
}
.qr {
  width: 19vw;
  top: 40%;
  right: 10%;
  position: absolute;
}

@media screen and (max-width: 865px) {
  .small_con .left {
    align-items: center;
    width: 80%;
  }
  .small_con {
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 710px) {
  .container {
    align-items: center;
  }
  .small_con .left {
    width: 100%;
  }
  .small_con .right {
    height: 60vh;
  }
}
