@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.google.com/specimen/Comfortaa");

@font-face {
  font-family: "Comfortaa";
  src: url("../public/fonts/Comfortaa-Regular.ttf");
}
:root {
  --special_text: #ff4d4d;
  --button_color: #111;
  --main_color: #dcdcdc;
  --text_color: #2d2d34;
  --inner_color: #fff;
  --background_color: #fff;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Comfortaa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
