@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "RobotoCondensed";
  src: url("../public/fonts/RobotoCondensed-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("../public/fonts/RobotoCondensed-Light.ttf");
  font-weight: thin;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("../public/fonts/RobotoCondensed-Bold.ttf");
  font-weight: bold;
}
:root {
  --color: #fee600;
  --button_color: #fee600;
  --main_color: #f7f7f7;
  --text_color: #2d2d34;
  --inner_color: #fff;
  --background_color: #fff;
  --no-of-slides: 2;
  --slides-in-view: 5;
  --slides-in-view-com: 4;
  --slide-width: 250px;
  --slide-height: 200px;
  --slide-width_com: 310px;
  --slide-heigth_com: 280px;
  --iteration-time: 6s;
}

html,
body {
  font-family: RobotoCondensed;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
p {
  font-size: 1.5vw;
  color: var(--text_color);
}
h4 {
  font-size: 1.1vw;
  color: var(--text_color);
}
h1 {
  text-align: center;
  font-size: 2.4vw;
  color: var(--text_color);
}
h2 {
  font-size: 1.2vw;
}
h3 {
  font-size: 3.5vw;
  color: var(--special_text);
}
@media screen and (max-width: 1050px) {
  h4 {
    font-size: 1.8vw;
  }
  h2 {
    font-size: 1.8vw;
  }
  p {
    font-size: 1.8vw;
  }
  h1 {
    font-size: 4vw;
  }
  h3 {
    font-size: 5vw;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --slide-width: 300px;
    --slide-height: 300px;
  }
  h3 {
    font-size: 7vw;
  }

  p {
    font-size: 3.5vw;
  }
  h2 {
    font-size: 3vw;
  }
  h4 {
    font-size: 3.3vw;
  }
}
