.container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2rem;
}
.con {
  padding-top: 2vw;
  padding-bottom: 2vw;
  display: flex;
  width: 100%;
  gap: 2rem;
  position: relative;
}
.left {
  top: 0;
  right: 0;
  width: 60%;
  height: 33vw;
  z-index: 0;
  border-radius: 2rem;
  border: 5px solid #fff;
  position: absolute;
  display: flex;
  padding-top: 1vw;
  align-items: flex-end;
  flex-direction: column;
}
.Banner {
  width: 85%;
}
.slug {
  width: 60%;
}
.header {
  padding-left: 2vw;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 2rem;
  background-color: var(--color);
  width: 95%;
  padding: 2vw;
}
.right {
  z-index: 1;
  border-radius: 2rem;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  height: max-content;
  overflow: hidden;
  flex-direction: row;
}
.right .choices {
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background-color: var(--inner_color);
  flex-direction: column;
  padding: 2vw;
  height: 100%;
  width: 95%;
  display: flex;
  overflow: hidden;
}
.divider {
  left: 45%;
  position: absolute;
  background-color: var(--color);
  height: 22vw;
  width: 2px;
}
.smallChoices {
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  display: flex;
  width: 100%;
}

.itemImg {
  height: auto;
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 0.5rem;
  border: 1px solid var(--text_color);
}
.order {
  font-weight: bold;
  gap: 1vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
}
.orderItem {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
}
.image:nth-child(1) {
  background-size: cover;
  background-origin: border-box;
  border-radius: 2rem 0 0;
  background-position: 60%;
  background-repeat: no-repeat;
  background-image: url("../public/img/hero.jpg");
}
.navigator {
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 1rem;
  background-color: var(--inner_color);
  width: 80%;
}
.next {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.headerText {
  font-size: 2vw;
}
