.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.corner {
  height: 80vh;
  width: 90%;
  border-radius: 2rem;
  /* border: 2px solid var(--text_color); */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.right_con {
  align-items: flex-start;
  padding-left: 3rem;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.left_con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 80%;
}

.register_button {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  width: max-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
  border: 1px solid var(--text_color);
  border-radius: 2rem;
  background-color: var(--button_color);
  color: var(--inner_color);
  margin-top: 16px;
}

.register_button:hover {
  background-color: var(--inner_color);
  color: var(--button_color);
}
.slugin_text {
  color: var(--special_text);
}
.slugins {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.slugins ul li h4 {
  margin-left: 8px;
}
.slugins ul li {
  align-items: center;
  flex-direction: row;
  word-spacing: 5px;
  display: flex;
  padding-top: 10px;
}
.slugins ul {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.hero_text {
  font-size: 5vw;
}
.register {
  background-image: linear-gradient(
    -225deg,
    #6d50d5 0%,
    #9870c3ab 29%,
    #eb4f83 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-weight: bold;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@-webkit-keyframes register {
  from {
    box-shadow: 0 0 100px #fff, 0 0 200px #fff, 0 0 300px #e60073,
      0 0 400px #e60073, 0 0 500px #e60073, 0 0 600px #e60073, 0 0 700px #e60073;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
@media screen and (max-width: 1381px) {
  .left_con {
    width: 90%;
  }
}
@media screen and (max-width: 865px) {
  .container {
    height: 160vh;
  }

  .right_con {
    gap: 16px;
    width: 100%;
  }
  .corner {
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }
  .left_con {
    width: 80%;
  }
}
@media screen and (max-width: 747px) {
  .left_con {
    width: 70%;
  }
  .container {
    height: 150vh;
  }

  .corner {
    position: relative;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .hero_text {
    font-size: 6vw;
  }
  .container {
    height: 135vh;
  }
}

@media screen and (max-width: 414px) {
  .container {
    height: 100vh;
  }
  .slugin_text {
    font-size: 6vw;
  }
  .hero_text {
    font-size: 8vw;
  }
  .corner {
    justify-content: space-around;
  }
  .left_con {
    width: 80%;
  }
}
@media screen and (max-width: 378px) {
  .container {
    height: 105vh;
  }
}
