.container {
  width: 100%;
  height: max-content;
  display: flex;
  padding-top: 2vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 3rem;
}
.Banner {
  position: absolute;
  bottom: -10%;
  right: -8%;
}
.pic {
  font-size: 1.6vw;
  right: 10%;
  position: absolute;
  top: 9%;
}

.con {
  padding-top: 2vw;
  padding-bottom: 2vw;
  display: flex;
  width: 100%;
  gap: 2rem;
  position: relative;
}
.notActiveLeft {
  top: 0;
  right: 0;
  width: 60%;
  height: 35vw;
  z-index: 0;
  border-radius: 2rem;
  border: 5px solid #fff;
  position: absolute;
  display: flex;
  padding: 1vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left {
  top: 0;
  right: 0;
  width: 60%;
  height: 35vw;
  z-index: 0;
  border-radius: 2rem;
  border: 5px solid #fff;
  position: absolute;
  display: flex;
  padding: 1vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text {
  padding-top: 1.5vw;
  font-size: 1.3vw;
  height: max-content;
  width: 130%;
}
.Banner {
  width: 86%;
}
.slug {
  padding-left: 2vw;
  width: 52%;
}
.header {
  padding-left: 2vw;
}
.content {
  background-position: 100% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../public/img/Mask.svg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 2rem;
  background-color: var(--color);
  width: 95%;
  padding: 2vw;
}
.content1 {
  background-position: 100% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 2rem;
  background-color: var(--color);
  width: 95%;
  padding: 2vw;
}
.highlight {
  font-weight: bold;
}
.right {
  z-index: 1;
  border-radius: 2rem;
  width: 55%;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  height: max-content;
  overflow: hidden;
  flex-direction: row;
}
.right .choices {
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background-color: var(--inner_color);
  flex-direction: column;
  padding: 2vw;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.divider {
  left: 48%;
  position: absolute;
  background-color: var(--color);
  height: 75%;
  width: 2px;
}
.smallChoices {
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  display: flex;
  width: 100%;
}
.orderItemActive {
  font-size: 0.5vw !important;
  width: 93%;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  padding: 0.5rem;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--color);
}
.item {
  cursor: pointer;
}
.itemTop {
  position: absolute;
  background-color: var(--inner_color);
  right: 2vw;
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 0.5rem;
  border: 1px solid var(--text_color);
}
.itemImg {
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 0.5rem;
  border: 1px solid var(--text_color);
}
.order {
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 80%;
}
.orderItem {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
}

.navigator {
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 1rem;
  background-color: var(--inner_color);
  width: 80%;
}
.next {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.headerText {
  font-size: 2vw;
}
.gift {
  width: 3vw;
}
.strong {
  font-weight: bold;
  cursor: pointer;
}
.choose {
  font-size: 1.5vw;
  right: 2vw;
  position: absolute;
  bottom: 1vw;
  text-align: center;
  width: 8vw;
  border-radius: 2rem;
  padding-bottom: 0.2vw;
  padding-top: 0.2vw;
  background-color: var(--inner_color);
}
.footer {
  width: 100%;
  padding-left: 4vw;
  justify-content: flex-start;
  gap: 0.5vw;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 890px) {
  .right {
    position: relative;
  }
  .notActiveLeft {
    border: none;
  }

  .left {
    right: 20%;
    position: absolute;
    padding-left: 0;
    height: max-content;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color);
    background-color: var(--inner_color);
    z-index: 50;
  }
  .choose {
    width: max-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--color);
  }
  .close {
    right: 1rem;
    display: flex;
    position: absolute;
    align-self: flex-end;
    top: 0.5rem;
  }
  .itemTop {
    top: 0;
  }
  .text {
    width: 100%;
    font-size: 3vw;
  }
  .slug {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    height: max-content;
  }
  .pic {
    display: none;
  }
  .Banner {
    display: none;
  }
  .content {
    background-image: none;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerText {
    font-size: 4vw;
  }
  .right {
    width: 100%;
  }
}
