@font-face {
  font-family: "Comfortaa";
  src: url("../public/fonts/Comfortaa-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  transition: opacity 500ms ease 0s, visibility 500ms ease 0s;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
}
.vold {
  font-weight: bold;
}
.button {
  width: 40px;
  height: 40px;
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}
.divider {
  top: 20%;
  left: 8vw;
  position: absolute;
  z-index: 20;
  height: 18vw;
  width: 6px;
  background-color: var(--color);
}
.main1 {
  font-size: 1.5vw;
  line-height: 2.5vw;
  text-align: start;
  left: calc(15% - 20px);
  top: calc(50% - 20px);
  position: absolute;
  color: var(--text_color);
}
.leftClick {
  position: absolute;
  top: calc(50% - 20px);
  left: 20px;
  color: #111;
  display: grid;
  place-items: center;
  transition: transform 0.2s all 0.3s ease-in-out;
}

.leftClick:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.rightClick {
  transform: rotate(180deg);
  position: absolute;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  right: 20px;
  color: var(--button_color);
  display: grid;
  place-items: center;
  transition: transform 0.2s all 0.3s ease-in-out;
}

.rightClick:hover {
  cursor: pointer;
  transform: rotate(180deg);
}

.dots {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: var(--main_color);
  border-radius: 50%;
  margin: 0 10px;
}

.dot:hover {
  cursor: pointer;
  background-color: var(--button_color);
}

.activeDot {
  width: 15px;
  height: 15px;
  background-color: var(--button_color);
  border-radius: 50%;
  margin: 0 10px;
}

.activeDot:hover {
  cursor: pointer;
}
.images {
  height: auto;
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  .images {
    height: 50vh;
  }
  .button {
    width: 25px;
    height: 25px;
  }
  .main1 {
    font-size: small;
    left: calc(15% - 20px);
    top: calc(30% - 20px);
  }
}
