.container {
  padding: 1vw;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.partner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partnerImg {
  height: max-content;
  background-color: var(--main_color);
  mix-blend-mode: lighten;
  width: 70%;
}
@media screen and (max-width: 500px) {
  .container {
    padding-bottom: 4vw;
    width: 100%;
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 56%;
    align-items: center;
  }

  .partnerImg {
    width: 70%;
  }
}
